<div>
    <h1>Admin Question Page</h1>
    <br>
    <nav>
        <div class="text-right">
            <%= link_to "New", new_admins_category_question_path(category_id: @category.id), {class: "btn btn-primary"} %>
        </div>
        <br>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Question</th>
                    <th scope="col">Answer</th>
                    <th scope="col">Action</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% @questions.each do |question| %>
                    <tr>
                        <td scope="row">
                            <%= question.content %>
                        </td>
                        <td>
                            <% question.choices.each do |choice| %>
                                <% if choice.correct %>
                                    <%= choice.content %>
                                <% end %>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to "Edit", edit_admins_category_question_path(category_id: @category.id, id: question.id), {method: :get, class: "btn btn-info"} %>
                            <%= link_to "Delete", admins_category_question_path(category_id: @category.id, id: question.id), {method: :delete, class: "btn btn-danger"} %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </nav>
</div>
