<div class="row">
    <div class="offset-md-3 col-md-6">
        <h1 class="text-center">Create new Questions</h1>

        <%= form_for([:admins, @category, @question]) do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>

            <div class="form-group">
                <%= f.label :content %>
                <%= f.text_field :content, class: "form-control" %>
            </div>
            <%= f.fields_for :choices do |c| %>
            <div>
                    <%= c.label :content %>
                    <%= c.text_field :content, class: "form-control" %>
                    <%= c.check_box :correct %>
                    <%= c.label :correct %>
            </div>
            
            <% end %>


            <%= f.submit "Create new Questions", class: "btn btn-primary text-center form-control" %>
        <% end %>
    </div">
</div>