<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-img-top">
                <div class="user-picture text-center ">
                    <% if @user.picture.blank? %>
                        <%= image_tag "/default.png", class: " rounded-circle user-default-image-show" %>
                    <% else %>
                        <%= image_tag @user.picture.to_s, class: "rounded-circle" %>
                    <% end %>
                </div>
            </div>
            <div class="card-body">
                <h2 class="card-title"><%= @user.name %></h2>
                <h6 class="card-title"><%= @user.email %></h6>
                <br>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <p><span style="font-size: 20px;"><%= @user.following.count %></span> following</p>
                            </div>
                            <div class="col">
                                <p><span style="font-size: 20px;"><%= @user.followers.count %></span> followerd</p>
                            </div>
                        </div>
                    </li>
                    <% unless current_user.id == @user.id%>
                        <% if relationship = current_user.relationship(@user) %>
                            <%= button_to "Unfollow", relationship_path(relationship), method: :delete, class: "btn btn-danger btn-block" %>
                        <% else %>
                            <%= button_to "Follow", relationships_path, params: {followed_id: @user.id}, class: "btn btn-success btn-block" %>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Activities List</h3>
            </div>
            <ul class="list-group list-group-flush">
                <% @activities.each do |activity| %>
                    <li class="list-group-item">
                        <% if activity.action_type == "Lesson" %>
                            <%= "#{User.find(activity.user_id).name} learnd #{Category.find(Lesson.find(activity.action_id).category_id).content}" %>
                        <% else %>
                            <%= "#{User.find(activity.user_id).name} followed #{User.find(Relationship.find(activity.action_id).followed_id).name}" %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>