<div class="row">
    <div class="col-lg-6 offset-3">
        <h1><%= @lesson.next_question.content %></h1>
        <hr />

        <% @lesson.next_question.choices.each do |choice| %>
            <%= form_for [:lesson, @answer] do |f| %>
                <%= hidden_field_tag :question_id, choice.question_id %>
                <%= hidden_field_tag :choice_id, choice.id %>
                <%= f.submit choice.content, class: 'btn btn-primary btn-block m-2' %>
            <% end %>
        <% end %>
    </div>
</div>