<!DOCTYPE html>
<html>
    <head>
        <title>ELearning</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render "layouts/header" %>
        <div class="container pt-4 pb-4">
            <% if notice %>
                <div class="alert alert-success">
                    <%= notice %>
                </div>
            <% end %>
            <%= yield %>
            <%= debug session[:user_id] %>
        </div>
        <%= render "layouts/footer" %>
    </body>
</html>
